<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poultry Health Detector</title>
    <link rel="stylesheet" href="static/output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="font-[Poppins] bg-white w-full">
<section class="h-screen w-full">
         <header class="bg-gray-800 shadow-lg">
        <nav class="flex justify-between items-center w-[92%]  mx-auto">
            <div class="flex m-2 gap-2">
                <img class="w-16 cursor-pointer" src="static/hen.png" alt="...">
                <h2 class="text-2xl text-white">Poultry <span class="text-blue-300">Health</span></h2>
            </div>
            <div
                class="nav-links duration-500 md:static absolute  md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto  w-full flex items-center px-5">
                <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
                    <li>
                        <a class="hover:text-blue-900 text-white" href="#About">ABOUT</a>
                    </li>
                    <li>
                        <a class="hover:text-blue-900 text-white" href="https://en.wikipedia.org/wiki/Poultry_disease">RESOURCES</a>
                    </li>
                    
                </ul>
            </div>
            <div class="flex items-center gap-6">
                <button class="bg-[#a6c1ee] text-white px-5 py-2 rounded-full hover:bg-[#87acec]"><a href="#Contact">Contact</a></button>
                <ion-icon onclick="onToggleMenu(this)" name="menu" class="text-3xl cursor-pointer md:hidden"></ion-icon>
            </div>
        </nav>
</header>
<div class="main flex w-full h-full ">
    <div class="Upload text-white w-1/2 h-max ml-10 my-10 border-4 rounded-sm shadow border-white">
        <h2 class="font-bold text-3xl mb-2 text-blue-400">Poultry Health Detector</h2>
        <form id="upload-form" enctype="multipart/form-data" class="flex gap-2 h-4/5 flex-col m-1" onsubmit="submitForm(event)">
            <input type="file" id="file-input" accept=".jpg, .jpeg, .png" required>
            <label for="file-input" id="drop-zone"><i class="fa-solid fa-file-arrow-up h-5 w-5 m-7">Drag & Drop</i></label>
            <button type="submit" class="rounded-xl bg-blue-500 hover:bg-blue-600">Predict</button>
        </form>
    </div>

    <div class="container1 w-1/3 h-max mt-10 ml-40 border-2 rounded-md">
        <div id="result">
            <h3 class="font-bold text-2xl">Prediction:</h3>
            <p id="class-info" class="font-bold text-2xl"></p>
            <p id="confidence-info" class="font-bold text-2xl"></p>
            <div class="action">
                <p class="text-blue-400 font-bold text-2xl">Recommended Actions:</p>
                <ul id="action-info"></ul>
            </div>
        </div>
    </div>
</div>
    
</section>

<section id="About" class="About h-screen bg-white">
    <div class="bg-white dark:bg-gray-900">
        <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
            <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Chicken Disease</h2>
                <p class="mb-4">
                   <span class="font-bold text-2xl">Coccidiosis</span> is caused by protozoa of the phylum Apicomplexa, family Eimeriidae. Most species affecting poultry belong to the genus Eimeria and infect various intestinal sites. The disease course is rapid and is characterized by parasite replication in host cells with extensive damage to intestinal mucosa. Coccidia in poultry are generally host-specific, and the different species infect specific portions of the intestine. However, in game birds, including quail, the coccidia may infect the entire intestinal tract. In poultry, game birds reared in captivity, and wild birds, coccidiosis occurs worldwide. 
                </p>
                <p>
                    <span class="font-bold text-2xl">Salmonella</span> infections are classified as caused either by nonmotile serotypes (S enterica serotype Gallinarum biovar Pullorum for pullorum disease and S enterica serotype Gallinarum biovar Gallinarum for fowl typhoid) or by the many motile paratyphoid Salmonella serotypes. These Salmonella infections have a worldwide distribution.</p>
            </div>
            <div class="grid grid-cols-2 gap-4 mt-8">
                <img class="w-full rounded-lg" src="static/chicken.jpg" alt="office content 1">
                <img class="mt-10 w-full lg:mt-12 rounded-lg" src="static/sendchick.jpeg" alt="office content 2">
            </div>
        </div>
    </div>
</section>
    
<section id="Contact" class="bg-white dark:bg-gray-900">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Contact Us</h2>
        <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">Got a technical issue? Want to send feedback about a beta feature? Need details about our Business plan? Let us know.</p>
        <form action="#" onsubmit="sendMail()" class="space-y-8">
            <div>
                <label for="Namel" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your Name</label>
                <input type="text" id="name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light mb-3" placeholder="Enter your name" required>
                
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your email</label>
                <input type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="name@flowbite.com" required>
            </div>
            <div>
                <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Subject</label>
                <input type="text" id="subject" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Let us know how we can help you" required>
            </div>
            <div class="sm:col-span-2">
                <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Your message</label>
                <textarea id="message" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Leave a comment..."></textarea>
            </div>
            <button type="submit" class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Send message</button>
        </form>
    </div>
</section>

<script type="text/javascript">
    async function submitForm(event) {
        event.preventDefault();
        const fileInput = document.getElementById('file-input');
        const formData = new FormData();
        formData.append('file', fileInput.files[0]);

        const response = await fetch('http://127.0.0.1:8000/predict', {
            method: 'POST',
            body: formData
        });

        if (response.ok) {
            const result = await response.json();
            document.getElementById('class-info').textContent = `Class: ${result.class}`;
            document.getElementById('confidence-info').textContent = `Confidence: ${result.confidence.toFixed(2)}`;

            // Add recommended actions based on class
            const actions = {
                'Coccidiosis': ['Ensure good hygiene', 'Use coccidiostats in feed'],
                'Salmonella': ['Isolate infected birds', 'Use antibiotics']
            };
            const actionList = document.getElementById('action-info');
            actionList.innerHTML = ''; // Clear previous actions
            actions[result.class].forEach(action => {
                const li = document.createElement('li');
                li.textContent = action;
                actionList.appendChild(li);
            });
        } else {
            console.error('Prediction failed');
        }
    }
</script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
<script type="text/javascript">
    (function () {
        emailjs.init({
            publicKey: "Gv01gwaHNLCk8w-6k",
        });
    })();
</script>

<script src="static/script.js"></script>
</body>
</html>